* {
  box-sizing: border-box;
}
:root{
  --fontwhite: white; 
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(180deg, rgb(137, 139, 141), rgb(50, 50, 50));
  color: var(--fontwhite);

}

.main-header{
  background-image: url("images/logo.jpg");
  background-size: cover;
}

.myphoto{
  float: left;
  height: 75px;
  width: 75px; 
  margin: 15px;
  border-radius: 50%;
}

.inlogo{
  float: left;
  height: 75px;
  width: 75px; 
  margin: 15px;
  border-radius: 50%;
}
.inlogo{
  float: left;
  height: 75px;
  width: 75px; 
  margin: 15px;
  border-radius: 50%;
}

hr{
  color: rgb(7, 7, 82);
}

.page-wrapper{
  display: grid;
  grid-template-columns: 1fr 3fr;
  
  
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}
